body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #F8F4E1;
    font-family: 'Courier New', Courier, monospace;
}
.containar{
    background-color: #74512D;
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    justify-content: center;
    
}

.textarea{
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px #AF8F6F;
}
.counter-containar{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.counter-containar p{
    font-size: 18px;
    color: #F8F4E1;
}