*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #F8F4E1;
    background-position: center;
    background-size: cover;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #AF8F6F;
    padding: 50px 60px 70px 60px;
    text-align: center;
    border-radius: 10px;

}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #543310;
    position: relative;
}


.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #543310;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn button{
    flex-basis: 48%;
    background: #543310;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.input-group{
    height: 300px;
}
.btn button.disable{
    background: #eaeaea;
    color: #555;
}